{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}
<div class="btn_div">
  <h1 class="book_title left">31 Lab Book Store</h1>
  <a href="{{ url_for('cart') }}" title="購物車"><img class="cart" src="{{ url_for('static', filename='./image/shopping_cart.png') }}"></a>
  <a href="{{ url_for('logout') }}"  title="登出"><img class="logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
</div>
<div class="btn_div">
  <p class="welcome">歡迎 , 使用者：{{user}}</p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  
<script language="javascript">

  alert('您沒有管理員的權限喔！');

</script>

{% endif %}
{% endwith %}

<div class="book_table">
  <form method="post" action={{ url_for('cart') }}>
    <table cellpadding="10" border='3'>
      <tr>
        <th>商品編號</th>
        <th>商品名稱</th>
        <th></th>
        <th></th>
      </tr>
      {% for book in book_data %}
      <tr>
        <td> {{ book.商品編號 }}</td>
        <td> {{ book.商品名稱 }}</td>
        <td><a href="{{ url_for('bookstore', pid=book.商品編號) }}"><button type="button">更多資訊</button></a></td>
        <td><button type="submit" value="{{book.商品編號}}" name="pid" >加到購物車</button></td>
        
        <!-- 傳遞商品編號 -->
      </tr>
      {% endfor %}
    </table>
  </form>
</div>

{% endblock content%}