{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}後台資料分析{% endblock title%}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <!-- Dashboard -->
  <div id="dashboard">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">訂單數量分析</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">書本銷量分類</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">消費總額排名</button>        
      </div>
      <a href="{{ url_for('manager') }}" title="回書店管理"><img class="dash_manager" src="{{ url_for('static', filename='./image/shop.png') }}"></a>

      <a href="{{ url_for('logout') }}" title="登出"><img class="dash_logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
      
    </nav>
  </div>
  <br/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <center> 
        <div id="maina" class="container-fluid" style="width:1200px;height:500px"></div>
      </center>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <center>
        <div id="mainb" class="container-fluid" style="width: 600px;height:500px"></div>
      </center>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <center>
        <div id="mainc" class="container-fluid" style="width: 1200px;height:500px"></div>
      </center>
    </div>
  </div>
</div>

<script>
  // 以長條圖與折線圖分析各月訂單
  var chartDoma = document.getElementById('maina');
  var myCharta = echarts.init(chartDoma);
  var data = {{revenue|tojson}};
  var count = {{dataa|tojson}};
  var optiona = {
    title: {
      text: '各月訂單數量分析'
    },
    tooltip: {},
    legend: {
      data: ['訂單數量']
    },
    xAxis: {
      data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
    },
    yAxis: {},
    series: [{
      name: '銷售總額',
      type: 'bar',
      // symbol: 'circle',
      symbolSize: 16,
      data: data,
      markPoint: {
        data: [
          {type: 'max', name: '銷量最高月份'},
          {type: 'min', name: '銷量最低月份'}
        ]
      },
      label: {
        show: true,
        position: 'top',
        textStyle: {
          fontSize: 15
        }
      }
    }
    ],
    legend: {
      show: true
    },
  };

  // 以圓餅圖分析書本銷量
  var chartDomb = document.getElementById('mainb');
  var myChartb = echarts.init(chartDomb);
  var data = {{datab|tojson}};
  var optionb = {
    title: {
      text: '各類商品銷量分析',
      left: 'center',
      top: 'center'
    },
    tooltip: {},
    legend: {
      orient: 'vertical',
      x: 'left',
      data: ['BOOK', 'CD', 'DVD']
    },
    series: [
      {
        type: 'pie',
        data: data,          
        radius: ['40%', '70%']
      }
    ]
  };

  // 使用動態長條圖查看消費總額最多的使用者
  var chartDomc = document.getElementById('mainc');
  var myChartc = echarts.init(chartDomc);
  var data = {{datac|tojson}};
  var nameList = {{nameList|tojson}};
  var countList = {{countList|tojson}};
  var optionc = {
    title: {
      text: '使用者消費排名'
    },
    xAxis: {
      max: 'dataMax'
    },
    yAxis: {
      type: 'category',
      data: nameList,
      inverse: true,
      animationDuration: 300,
      animationDurationUpdate: 300,
      max: 4
    },
    tooltip: {},
    series: [
      {
        realtimeSort: true,
        name: '消費總額',
        type: 'bar',
        data: data,
        label: {
          show: true,
          position: 'right',
          valueAnimation: true
        }
      },
      {
        realtimeSort: true,
        name: '訂單總數',
        type: 'bar',
        data: countList,
        label: {
          show: true,
          position: 'right',
          valueAnimation: true
        }
      }
      ],
    legend: {
      show: true
    },
    animationDuration: 3000,
    animationDurationUpdate: 3000,
    animationEasing: 'linear',
    animationEasingUpdate: 'linear'
  };

  function run() {
    myChartc.setOption({
      series: [
        {
          type: 'bar',
          data
        }
      ]
    });
  }

  setTimeout(function() {
    run();
  }, 0);
        
  setInterval(function() {
    update();
  }, 3000);

  optiona && myCharta.setOption(optiona);
  optionb && myChartb.setOption(optionb);
  optionc && myChartc.setOption(optionc);
      
</script>

{% endblock content %}