{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}

<h1 class="book_title">31 Lab Book Store</h1>
<div class="book_table">
  <form method="post" action={{ url_for('edit') }}>
    <table cellpadding="10" border='3'>
      <tr>
        <th>商品編號</th>
        <td><input type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>商品名稱</th>
        <td><input type="text" value="{{ data.商品名稱 }}" name="name" ></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input type="text" value="{{ data.單價 }}" name="price"></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select name="category">
            {% if data.類別 == 'CD' %}
              <option value="BOOK">BOOK</option>
              <option value="DVD">DVD</option>
              <option value="CD" selected>CD</option>
            {% elif data.類別 == 'DVD' %}
              <option value="BOOK">BOOK</option>
              <option value="DVD" selected>DVD</option>
              <option value="CD">CD</option>
            {% else %}
              <option value="BOOK" selected>BOOK</option>
              <option value="DVD">DVD</option>
              <option value="CD">CD</option>
            {% endif %}
            
        </select>
      </tr>
    </table>
    <div class="btn_div">
      <button type="submit">確定修改</button> 
      <a href="{{ url_for('manager') }}"><button type="button">回上一頁</button></a>
    </div>
  </form>
</div>

{% endblock content%}