{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Login Page{% endblock title%}

{% block content%}
<a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./image/shop.png') }}"></a>
<h1 class="register_title">會員登入</h1>
<div class="form_div">
    <form  method='post' action={{ url_for('login') }} >
        <p >
            帳號：<input type="text" name="account" required/>
        </p>
        <p>
            密碼：<input type="password" name="password" required/>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            
            <p class="same_accoount">
                {% for i in messages %}
                    {{ i }}
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
        </p>
        <p>
            <a href="{{ url_for('index') }}">
                <button type="button" class="register_btn">回上頁</button>
            </a>
            <button type="submit" class="register_btn">登入</button>
        </p>
    </form>
</div>
{% endblock content%}